.intCont {
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.sec {
    /*border: 1px solid orange;*/
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    text-align: right;    
}

.textStyle {
    color: white;
}

#titleShow {
    /*border: 1px solid violet;*/
    width: 90%;
    height: 4vh;
    display: flex;
    flex-direction: column;
    animation: titleShow 1.6s 1;
}

@keyframes titleShow {
    0% {
        opacity: 0;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

#titleHide {
    /*border: 1px solid violet;*/
    width: 90%;
    height: 4vh;
    display: none;
    flex-direction: column;
}


@keyframes contentShow {
    0% {
        opacity: 0;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}


#contentShow {
    /*border: 1px solid red;*/
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    
    opacity: 1.0;
    animation: contentShow 1.2s 1;
    animation-timing-function: ease-in;
}

@keyframes contentShow {
    0% {
        opacity: 0;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

#contentHide {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    opacity: 0.0;
}

#introImg {
    background-image: url('/images/space.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: introImgShow 1.2s 1;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

@keyframes introImgShow {
    0% {
        opacity: 0;
        margin-left: 10px;        
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

#introImgHide {
    background-image: url('/images/space.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}



