/*-------------------------------------------Keys or bookmarks to vital information --------------------*/
.Keys {
    width: 100vw;
    height: 20vh;
    border: 1px solid red;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.tabs {
    border: 1px solid green;
    width: 40%;
    height: 20%;
    color: white;
}





/*----------------------------------------To Order a Hard Copy of Our Book----------------------------*/
.orderCont {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
}